* {
	margin: 0px;
	padding: 0px;
}
body {
  background-image: linear-gradient(to right, #EB1A36 ,#FF765E);
}
.gallery {
	background-color: #CCC;
	width: 630px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #999;
	height: 630px;
	overflow: hidden; /*Avoids showing all of the images momentarily while JS loads */
	border-radius: 4px;
}
.gallery img {
	margin: 15px;
}